
 {
   "PRIVATE_KEY_NEW_STANDARD": {
     "PK": "0xf33f9a08c18c09f9a01d465af0b3b4423efa0d7107de6f8abad9c26b98963add",
     "CHAIN_ID": "eip155:5"
   },
   "PRIVATE_KEY_OLD_STANDARD": "0xf33f9a08c18c09f9a01d465af0b3b4423efa0d7107de6f8abad9c26b98963add"
 }

// ---
// TEMPLATE FOR MULTICHAIN CHANNEL ON STAGING SUPPORTING POLYGON
// ---
// {
//   "PRIVATE_KEY_NEW_STANDARD": {
//     "PK": "YOUR_CHANNEL_PRIVATE_KEY_HERE",
//     "CHAIN_ID": "eip155:80001"
//   },
//   "PRIVATE_KEY_OLD_STANDARD": "YOUR_CHANNEL_PRIVATE_KEY_HERE"
// }

// ---
// TEMPLATE FOR ETHEREUM ONLY MAINNET CHANNEL
// ---
// {
//   "PRIVATE_KEY_NEW_STANDARD": {
//     "PK": "YOUR_CHANNEL_PRIVATE_KEY_HERE",
//     "CHAIN_ID": "eip155:1"
//   },
//   "PRIVATE_KEY_OLD_STANDARD": "YOUR_CHANNEL_PRIVATE_KEY_HERE"
// }

// ---
// TEMPLATE FOR MULTICHAIN CHANNEL ON MAINNET SUPPORTING POLYGON
// ---
// {
//   "PRIVATE_KEY_NEW_STANDARD": {
//     "PK": "YOUR_CHANNEL_PRIVATE_KEY_HERE",
//     "CHAIN_ID": "eip155:137"
//   },
//   "PRIVATE_KEY_OLD_STANDARD": "YOUR_CHANNEL_PRIVATE_KEY_HERE"
// }